<?xml version="1.0"?>
<!--
Web.config file for dsoft.ads.web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="baseUrl" value="https://api.fda.gov" />
    <add key="fdaApiKey" value="iECPoOgnA6LVBZ5X3PHyx5Slpj1smHE6u4FuzlHl" />
  </appSettings>
</configuration>