@{
	var facebookLink = "http://www.facebook.com/DSoftTechnology";
	var twitterLink = "http://twitter.com/dsofttech";
	var linkedInLink = "http://www.linkedin.com/company/dsoft-technology";
	var googlePlusLink = "https://plus.google.com/+Dsoft-tech/posts";
}

<footer class="col-sm-12">
	<hr />
	<span class="text-muted">&copy; DSoft Technology Company 2000-@DateTime.Now.Year. All Rights Reserved.</span>
	<div id="socialMedia" class="pull-right">
		<a href="@facebookLink" target="_blank"><img src="~/Content/images/facebook_32.png"></a>
		<a href="@twitterLink" target="_blank"><img src="~/Content/images/twitter_32.png"></a>
		<a href="@linkedInLink" target="_blank"><img src="~/Content/images/linkedin_32.png"></a>
		<a href="@googlePlusLink" target="_blank"><img src="~/Content/images/google-plus-icon-32.png"></a>
	</div>
</footer>
