@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
	Information about DSoft and the project here.
</p>

<script>
    $(document).ready(function () {
        $('#aboutNav').parent().addClass('active');
    });
</script>