@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<hr/>
<div class="col-sm-8 col-sm-offset-2">
	<div class="form-group">
		<fieldset>
			<legend>DSoft Technology</legend>
			<p>DSoft Technology, a Colorado Springs-based Service-Disabled, Veteran-Owned Small Business (SDVOSB), is a leading provider 
			of IT services and solutions for a broad range of clients both locally here in Colorado and across the country. Since 1992, 
			DSoft Technology has proven success delivering strategic value and operational efficiencies to our clients, specializing in .NET, 
			open source, and Umbraco technologies. Our formula for success is a thoughtful combination of people, clients, and culture that 
			makes the difference. We don't invent technology -- we just make IT work for our clients. Our first two goals are 1) to run our 
			business in harmony with God's laws, 2) to focus on people more than money.</p>
		</fieldset>
	</div>
	<div class="form-group">
		<fieldset>
			<legend>This Project</legend>
			<p>The fundamental scope of the ADS I BPAs is to provide a streamlined process to support 18F's need for agile delivery services, 
			including user-centered design, agile architecture, agile software development, and DevOps. The ADS I BPAs will be available for 
			use by General Services Administration 18F program office for internal purchases and assisted acquisitions to support other 
			Federal agencies.</p>
		</fieldset>
	</div>
</div>


<script>
    $(document).ready(function () {
        $('#aboutNav').parent().addClass('active');
    });
</script>