<div class="row">
	<div class="col-sm-3">
		<h2>Business Report</h2>
		<hr/>
	</div>
	<div class="col-sm-9">
	  <h2>Your Report Title</h2>
	  <hr/>
	</div>
</div>
<div class="row">
	@Html.Partial("~/Views/Shared/_FilterList.cshtml")
  	<div class="col-sm-9">
        <p>
          Some helpful text here.
        </p>
        <p>
          <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Bar%20Graph&amp;w=800&amp;h=600">
        </p>
  	</div>
</div>

<script>
    $(document).ready(function () {
        $('#businessNav').parent().addClass('active');
    });
</script>