@{
	Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = ViewBag.ReportType = "Business Report";
    var defaultSubtitle = "Report Title";
}

<p>
  Some helpful text here.
</p>
<p>
  <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Bar%20Graph&amp;w=800&amp;h=600">
</p>

<script>
$(document).ready(function () {
    $('#businessNav').parent().addClass('active');
    SetSubtitle('@defaultSubtitle');
});

$('#reportSubtitleInput').on('input', function() {
	if ($(this).val() != ''){
		SetSubtitle($('#reportSubtitleInput').val());
	}
	else {
		SetSubtitle('@defaultSubtitle');
	}
});

function SetSubtitle(subtitle) {
	$('#reportSubtitle').text(subtitle);
}
</script>