@{
	Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.ReportType = "Company Trending Report";
}

<p>
  Some helpful text here.
</p>
<p>
  <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Bubble%20Graph&amp;w=800&amp;h=600">
</p>
  	
<script>
    $(document).ready(function () {
        $('#trendingNav').parent().addClass('active');
    });
</script>